[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv-setup = "*"
pipenv-setup-issues-138-reproduction = {file = ".", editable = true}
tox = "*"

[dev-packages]

[requires]
python_version = "3.11"
